opencv-python-headless == 4.5.1.48  # XXX https://github.com/qurator-spk/sbb_textline_detection/issues/60
matplotlib
seaborn
tqdm
keras == 2.3.*
h5py < 3
shapely
scikit-learn
numpy == 1.18.*  # XXX for tensorflow-gpu 1.15
tensorflow-gpu == 1.15.*
scipy
ocrd >= 2.22.3
shapely >= 1.7.1
